.main-header{
    align-items: center;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 10%, rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6.360000133514404px;
    padding-bottom: 0px;
    padding-left: 21.1875px;
    padding-right: 21.1875px;
    padding-top: 0px;
    position: relative;
    height:50px;
    width: 487.625px;
    z-index: 2;
    top: 0px; 
    position: relative;
    background-color: transparent;
    height:50px; 
}

.logo{
    background-color: rgba(0, 0, 0, 0);
    color: rgb(229, 9, 20);
    cursor: pointer;
    display: block;
    font-family: nf-icon;
    font-size: 11.447999954223633px;
    font-style: normal;
    font-variant-caps: normal;
    font-variant-east-asian: normal;
    font-variant-ligatures: normal;
    font-variant-position: normal;
    font-weight: normal;
    height: 11px;
    line-height: 11.44800090789795px;
    margin-right: 5px;
    text-decoration: none;
    text-transform: none;
    transform: matrix(1, 0, 0, 1, 0, 0);
    vertical-align: middle;
    width: 40.703125px;
    word-break: keep-all;
    width: 10px;
}

.netflix-logo{
    position: absolute;
    width: 50px;
    height: 20px;
}