.main-header{
    align-items: center;
    color: rgb(42, 14, 14);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 100%, rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0);
    cursor: default;
    display: flex;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 6.360000133514404px;
    padding-bottom: 0px;
    padding-left: 21.1875px;
    padding-right: 21.1875px;
    padding-top: 0px;
    height: 100px;
    width: 1500px;
    z-index: 2;
    top: 0px; 
    position: relative;
    background-color: transparent;
}


.netflix-logo{
    width: 200px;
    height: 100px;
}

.main-layer{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0));
    background-color: rgba(0, 0, 0, 0);
    width:1500px;
    height:800px;
}

.main-photo{
    background-color: transparent;
    width:1300px;
    height:600px;
}
