
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Home-Catflix</title>
</head>
<body>
    <div class="main-header">
        <a aria-label="catflix" href="index.html">
            <img class="netflix-logo" src="../Assets/catflix.png" />
        </a>

        <div>
            <ul class="flex .justify-between text-sm font-medium">
                <li class="ml-8"><a href="{% url "post:logs" %}">Posts</a></li>
                <li class="ml-8"><a href="{% url "post:list" %}">Logs</a></li>
                <li class="ml-8"><a href="{% url "book:list" %}">Books</a></li>
                <li class="ml-8"><a href="{% url "user:profile" %}">Weddew</a></li>
            </ul>
        </div>
    </div>

</body>
</html>